<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Stream site</title>
			<link rel="stylesheet" href="/submit_file/style.css">
    </head>
    <body>
		<form action="submit_login" method="POST">
		  <header>Login</header>
		  <label>Username <span>*</span></label>
		  <input type="text" name="username"><br>
		  <label>Password <span>*</span></label>
		  <input type="text" name="password"><br>
		  <input type="submit" value="Login">
		</form>
		<h2><a href="http://127.0.0.1:5000/">Don't have an account yet? Sign up!</a></h2>
    </body>
</html>